@charset "utf-8";
/* CSS Document */

  html, body {
    width: 100%;
  }
  ul li {
    list-style: none;
  }
  *{margin:0;padding:0;}
  #box {
    width: 1200px;
    margin: 20px auto;
  }
  .slide {
    height: 500px;
    position: relative;
  }
  .slide ul {
    height: 100%;
  }
  .slide li {
    position: absolute;
    left:200px;
    top:0;
  }
  .slide li img{
    width: 100%;
  }
  .arraw {
    opacity: 0;
  }
  .arraw a {
    width: 70px;
    height: 110px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -55px;
    z-index: 999;
  }
  .next {
    background: url(pic/right.png) no-repeat;
    right: -10px;
    /*opacity: .5;*/
    /*filter: alpha(opacity=50);*/
  }
  .prev {
    background: url(pic/left.png) no-repeat;
    left: -10px;
  }